h2 {
  background-color: rgba(8, 107, 21, 0.87);
  color: white;
  font-size: 1.5em;
  padding: 0.5em;
  text-transform: uppercase;
}

h3 {
  color: rgba(8, 107, 21, 0.87);
  font-size: 1.2em;
  margin: 0.5em 0;
}

.poznamka {
  background-color: #ddd;
  font-size: 0.9em;
  padding: 0.5em;
}

h1 small {
  color: rgba(0,0,0,0.5);
  text-transform: uppercase;
  font-size: 0.6em;
  padding: 0.3em;
}

h1{
  color: black !important;
  font-weight: 500 !important;
}

nav.navbar-dark {
  background-color:  rgba(0,0,0,0.5) !important;
}
#hymna{
  text-align: center;
}
#gallery {
  margin-bottom: 10px;
}